.banner-profile {
  width: 100%;
  height: 30vh;
  background-size: cover !important;
  background-image: asset-url('boat-river.jpg');
  position: relative;

  .black-ground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
  }
  .text-jumbo{
    margin-top: 300px;
    text-align: center;
    color: white;
    h1 {
      font-weight: 700;
      font-size: 70px;
    }
    p {
      font-size: 25px;
    }
  }
}

.avatar-profile {
  width: 100px;
  border-radius: 50%;
}

.profile-header-info {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 18px;
  h2 {
    font-weight: bold;
  }
}
