<!-- <div class="footer-container">
  <ul class="footer">
    <li class="footer-item">Contact</li>
    <li class="footer-item">About</li>
    <li class="footer-item"><i class="fa fa-facebook-square"></i></li>
    <li class="footer-item"><i class="fa fa-twitter-square"></i></li>
    <li class="footer-item"><i class="fa fa-github-square"></i></li>
  </ul>
</div>
 -->
<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="footer-text">This is a project by LeWagon students</p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <p class="footer-text">Contact</p>
      </div>
    </div>

    <div class="footer-spacing"></div>

    <p id="follow-text">Follow Us On</p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">

      </div>

      <div class="col-xs-12 col-sm-4">
        <ul class="list-inline">
          <li><a href="https://nl-nl.facebook.com/"><i class="fa fa-facebook-square footer-icon"></i></a></li>
          <li><a href="https://twitter.com/"><i class="fa fa-twitter-square footer-icon"></i></a></li>
          <li><a href="https://github.com/FuturesBSSA/boatBnB"><i class="fa fa-github-square footer-icon"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4">
      </div>
    </div>
  </div>
</div>
