<div class="footer-container">
  <ul class="footer">
    <li class="footer-item">1</li>
    <li class="footer-item">2</li>
    <li class="footer-item">3</li>
    <li class="footer-item">4</li>
    <li class="footer-item">5</li>
    <li class="footer-item">6</li>
  </ul>
</div>
