// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "boats";


.wrapper {
  width: 100%;
}

.container {
  width: 100%;
}

.reduced-container {
  width: 70%;
  margin: 0 auto;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 250px; /* bottom = footer height */
    background-color: #f1f2f1;
}

.footer-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
}
